LIQVERA_CHAIN_ID=31611
LIQVERA_PAYMENT_ENABLED=false
LIQVERA_SOURCE_MODE=shadow
DATABASE_PASSWORD_FILE=/run/secrets/liqvera_database_password
REPORT_SERVICE_TOKEN_FILE=/run/secrets/liqvera_report_service_token
